body {
    /* font-family: 'Space Mono', monospace; */
    background-color: black;
}

.fullpage {
    width:  100vw;
    height: 100vh;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

.layout--vertical {
    flex-direction: column;
}

.topbar {
    /* background-color: red; */
    color: white;
}
.cars {
    /* background-color: blue; */
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    overflow-x: auto;

}

.cars[data-dropshown=false] .cars__carfull {
    display: none;
}


.cars__dropcontainer[data-full=false] > .cars__carfull {
    opacity: 0;
    pointer-events: none;
    height: 0;
}

.cars__car {
    margin: 10px;
    border: 1px solid white;
    padding: 5px;
    min-width: 15rem;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.cars__cardrop {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* background-color: orange; */
}

.cars__cardrop > .name {
    width: 100%;
}
.cars__carfull {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    background-color: rgba(255,0,0, 0.3);
}

.cars__dropcontainer {
    flex-grow: 1;
    position: relative;
}


.unassigned {
    /* background-color: green; */
    flex: 1 0 0;


    position: relative;
}

.unassigned__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 5px 5vw 5px 5vw;
}

.name {
    width: 10rem;
    background-color: rgba(255,255,255,0.3);

    margin: 2px;

    cursor: grab;
    color: white;
}

.name:active {
    cursor: grabbing;
}
