{% extends 'base.html' %}
{% import 'macros/editor.html' as editor %}

{% block content %}
<div class="fullpage layout layout--vertical">
    {{ editor.createEditorArea( cars, unassigned, event ) }}
</div>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dragula/dragula.css') }}" type="text/css"/>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='dragula/dragula.js') }}"></script>
<script src="{{ url_for('static', filename='moment/moment.js') }}"></script>
 <script src="{{ url_for('static', filename='edit.js') }}" defer></script>

{% endblock %}
