{% extends 'base.html' %}

{% block content %}
<div class="fullpage layout layout--vertical">

<div class="topbar"> penis </div>
<div class="cars">
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    <div class="car">
        <h2>Car #N</h2>
        <div class="car__dropzone"></div>
    </div>
    
</div>
<div class="unassigned"></div>

</div>
{% endblock %}
